.root {
    -fx-background-color: #121212;
}

#mapBackground {
    -fx-background-color: #161616;
}

#controlsBackground {
    -fx-background-color: #161616;
}

#settingsBackground {
    -fx-background-color: #161616;
}

#scoreBackground {
    -fx-background-color: #161616;
}

.label {
    -fx-font-family: Inter;
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #BB86FC;
    -fx-font-family: Inter;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#controlsTitleLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#settingsTitleLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#scoreTitleLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#scoreMessageLabel {
    -fx-alignment: center;
}

#scoreLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}